body {
  margin: 0px;
  padding: 2rem 0px 0px 0px; /* Adiciona um padding-top de 70px */
  background: var(--bg-color);
}

:root {
  --bg-color: #d4d4d4;
  --primary-color: #b9b9b9;
  --secundary-color: #b4b2b2d5;
  --terciary-color: #252727c9;
  --quaternay-color: #0c0c0c;
  --font-color: #0d0f0f;
  --font-white: #cec4c4;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-family: sans-serif;
}

#menu a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo{
  font-size: 1.5rem;
  font-weight: bold;
}

#header{
  box-sizing: border-box;
  position: fixed;
  height: 70px;
  left: 1.5rem;
  right: 1.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  border-radius: 6px;
  margin-top: 0;
  z-index:1001;

}

.mobile {
  color: var(--font-color);
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
  font-weight: 1000;
  display: block;
}

.desktop{
  color: var(--font-color);
  font-size: 28px;
  font-family: 'Rubik' , sans-serif;
  font-weight: 1000;
  display: none;
  padding-left: -1rem;

}

@media screen and (min-width: 600px) {
  .mobile{
    display:none;
  }

  .desktop{
    display:block;
    padding-right: 5rem;
  }

  .header{
    padding: 2rem 1rem;
  }

  #header{
    justify-content: space-between;
  }

  #header img{
    height: 90%;
    width: 100px;
  }
}

#menu {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-top: -5px;
}

#menu a {
  color: var(--font-color);
  display: block;
  padding: 0.5rem;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-top: 0.5rem;
}

#btn-mobile {
  display: none;
  border: 1px solid;
  border-radius: 10px;
}

@media screen{
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--primary-color);
    transition: 0.6s;
    z-index: 1001;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(44vh - 70px);
    visibility: visible;
    overflow-y: auto;
    border-radius: 5px;
  }
  #menu a {
    padding: 1rem;
    margin: 0.5rem 1rem 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.box0{
  padding: 2rem ;
  background:var(--bg-color);
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: -2rem;

}

.footer{
  margin: 2rem 1.5rem 0 1.5rem;
  background: var(--primary-color);
  border-radius: 6px 6px  0 0 ;
  border-top: 3px solid var(--terciary-color);
  z-index: 1000;

}

.footer h3 {
  color: var(--font-color);
  font-size: 16px;
  font-family: 'Rubik' , sans-serif;
  font-weight: 450;
}

.footer a:hover {
  background: rgba(0, 0, 0, 0);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 1rem 0 1rem;
}

.footer-content img {
  height: 50%;
  width: 100px;

}

.logoname {
  padding: 0 1rem;
  
}

.logoname h3 {
  color: var(--font-color);
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.logoname a {
  font-size: 24px;
}

.social {
  padding: 0 1rem;
}

.social a {
  display: block;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.footer-list {
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 0;
}

.footer-list li {
  padding: 0.5rem;
  text-align: start;
  margin-left: 5rem;
}

.text-end {
  padding: 0.4rem;
  border-radius: 6px 6px 0 0;
  border-top: 3px solid var(--terciary-color);
  background: var(--secundary-color);
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    .social {
      order: 3;
      margin-bottom: 1rem;
    }
  }
}

/*----------------------------------------------------------------------------*/

.section1 {
  margin: 7.5rem 1.5rem 2rem;
  border-radius: 6px;
  background: var(--primary-color);
  padding:5rem;
}

.text {
  background: var(--terciary-color);
  margin: 0;
  padding: 1rem;
  border-radius: 6px;
}
.text img {
  margin-bottom: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

#top-image {
  margin-bottom: 2rem;
}

.text h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: rgb(221, 221, 221);
  margin: 0 1rem;
}

.text p {
  text-align: justify;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--font-white);
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .text h1 {
    font-size: 32px;
    margin: 1rem 3rem;
  }

  .text p {
    font-size: 20px;
    margin: 1rem 2rem;
  }

  #artistas {
    order: 2;
  }
}

.artists h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 550;
  color: rgb(221, 221, 221);
  margin: 1rem;
}

.artists {
  background: var(--terciary-color);
  border-radius: 6px;
  margin: 2rem 0;
  padding: 1rem;
}

.artists-list {
  list-style: none;
}

.fotoname {
  display: flex;
}

.img {
  padding: 0.8rem;
  margin-right: 1rem;
}

.artists-list img {
  border: 5px solid var(--font-color);
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.artists-list li {
  display: block;
}

.fotoname {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info {
  border-radius: 6px;
  padding: 1rem;
  background: var(--quaternay-color);
}

.a {
  display: block;
}

.info h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: var(--font-white);
  margin: 0.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.info a {
  display: block;
  font-family: 'Robot', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--font-white);
  margin-bottom: 0.7rem;
}

.artists-list ion-icon {
  color: white;
  font-size: 16px;
}

.vignette h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: var(--font-white);
}

.vignette p {
  margin: 1rem;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-white);
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .artists ul {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap:2rem;
  }
  .artists h2 {
    padding-bottom:1.5rem;
  }
}

.projects {
  margin-bottom: 1rem;
}

.projects li {
  list-style: none;
  background: var(--terciary-color);
  border-radius: 6px;
  margin-bottom: 2rem;
}

.album {
  background-image: url(./assets/Beat.jpg);
  border-radius: 6px 6px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  height: 170px;
  align-items: flex-end;
}

.album h1 {
  color: #ebe4e4;
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;

}

.album img {
  margin: auto 1rem auto auto;
  height: 150px;
  width: auto;
  border-radius: 6px;
}

.description p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-weight: 500;
  color: #dbdbdb;
  margin: 0 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#predios{
  background-image: url(./assets/Dospredios.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
}

#um {
  background: linear-gradient(170deg, #52564ad5, rgba(255, 255, 255, 0) 40%),
              linear-gradient(180deg, rgba(37, 109, 109, 0.8), rgba(197, 197, 197, 0) 20%),
              linear-gradient(360deg,#5050501c 60%,#6d6d6dd5 100%);
}

#deluxe{
  background-image: url(./assets/Deluxe.jpg);
  background-size: 101%;
  background-repeat: no-repeat;
}

#dois {
  background: linear-gradient(175deg, #ffddb1b9, rgba(255, 255, 255, 0) 30%),
              linear-gradient(180deg,  #f1ae6ad0, rgba(197, 197, 197, 0) 30%),
              linear-gradient(360deg,#5050501c 40%,#6d6d6daf 80%);
}

#deluxe h1{
 color: #e7e7e7;
}

#inocente{
  background-image: url(./assets/Inocente.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
}

#tres {
  background: linear-gradient(180deg, #e3a069de, rgba(255, 255, 255, 0) 40%),
              linear-gradient(180deg, #e3a069da, rgba(197, 197, 197, 0) 20%),
              linear-gradient(360deg,#5050501c 40%,#6d6d6dd5 90%);
}

#resumo{
  background-image: url(./assets/Resumo.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
}

#quatro {
  background: linear-gradient(175deg, #ee0606cc, rgba(255, 255, 255, 0) 30%),
              linear-gradient(180deg, #f5df8f, rgba(197, 197, 197, 0) 30%),
              linear-gradient(360deg,#5050501c 40%,#5e5e5ede 90%);
}

#beat{
  background-image: url(./assets/Beat.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
}

#cinco {
  background: linear-gradient(175deg, #3e6358d8, rgba(255, 255, 255, 0) 30%),
              linear-gradient(180deg, #85825bd8, rgba(197, 197, 197, 0) 30%),
              linear-gradient(360deg,#5050501c 40%,#5e5e5ede 90%);
}

@media screen and (min-width:600px) {
  .projects ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
}
